@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500,700,900&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

:global(body) {
  position: relative;
  margin: 0 auto;
  font-family: 'Noto Sans Japanese', sans-serif;

  .bb {
      box-sizing: border-box; /* css3 rec */
      -moz-box-sizing: border-box; /* ff2 */
      -ms-box-sizing: border-box; /* ie8 */
      -webkit-box-sizing: border-box; /* safari3 */
      -khtml-box-sizing: border-box; /* konqueror */
    }
}
