@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500,700,900&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

:global(body) {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Noto Sans Japanese', sans-serif;
  .public_fixedDataTableCell_cellContent { padding: 2px 8px }
}
